mixin dot
	span(class="dot") ·
mixin section(id, label)
	h2(class="hr", id=id)
		span.hr= label
doctype 5
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title André Staltz
		meta(name="description", content="Holistic Web Developer")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/static/css/bootstrap.min.css")
		//-link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", rel="stylesheet")
		link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", rel="stylesheet")
		link(href="/static/css/main.css", rel="stylesheet")
		script(src="/static/js/modernizr-2.6.1.min.js")
	body
		.header
		.avatar
		.container
			.row
				div(class="col-lg-6 col-lg-offset-3")
					h2.centered.name-title André Staltz
					h3.centered.name-subtitle HOLISTIC WEB DEVELOPER
					p
						| <span class="syllables">ho·lis·tic</span> Emphasizes the 
						| importance of the whole and the interdependence of its parts.
					+section('about-me', "ABOUT ME")
					p
						| Hi, I'm a web developer and designer. My passion is 
						| to make meaningful products out of my many wild ideas.
					p
						| I'm the founder of <a href="http://www.iroquote.com" target="_blank">Iroquote</a>,
						| a platform for online discussion societies.
					p
						| I come from Brazil, but have no interest for football
						| and many other things that identify them. I'm rare.
						| Currently I live in Finland, where it's nice and cold.
					+section('find-me', "FIND ME")
					ul.horizontal
						li
							a(href="http://www.twitter.com/andrestaltz", class="twitter-bg")
								i.icon-twitter
						li
							a(href="http://www.facebook.com/andre.staltz", class="facebook-bg")
								i.icon-facebook
						li
							a(href="http://www.linkedin.com/in/andrestaltz", class="linkedin-bg")
								i.icon-linkedin
						li
							a(href="http://www.stackoverflow.com/users/315752/staltz", class="stackexchange-bg")
								i.icon-stackexchange
						li
							a(href="http://www.github.com/staltz", class="github-bg")
								i.icon-github
						li
							a(href="mailto:andrestaltz@gmail.com", class="email-bg")
								i.icon-envelope
					+section('extras', "EXTRAS")
					p
						| Sometimes I make games. With my friend Glauber Kotaki 
						| I've made some under the label <a href="http://www.glauberkotaki.com/zeroduo" target="_blank">ZeroDuo</a>,
						| and by myself I've made <a href="http://www.kongregate.com/games/STALTZ/rgblend" target="_blank">RGBlend</a>, 
						| a color puzzle game. I've also had an important role in a
						| community of brazilian game designers named <a href="http://www.iroquote.com/gamebrain" target="_blank">Gamebrain</a>.
					p 
						| I'm MSc in Computer Science, for my <a href="http://users.ics.aalto.fi/desoua1/HAcid_Thesis.pdf" target="_blank">Master's Thesis</a>
						| I developed <a href="https://bitbucket.org/staltz/hacid/wiki/Home" target="_blank">HAcid</a>,
						| a Java client library that enables ACID transactions on <a href="http://hbase.apache.org/" target="_blank">HBase</a>.
					p
						| I have a <a href="http://staltz.blogspot.com" target="_blank">blog</a>,
						| where I occasionally write about programming and softwares.
					p
						| I'm an acoustic guitarrist and a composer. I listen to different
						| genres, but mostly instrumental music. Check out my <a href="http://www.youtube.com/playlist?list=PL24A51E95B3F5E4D2" target="_blank">acoustic songs recorded on video</a>.
						| In 2004-2006 recorded a progressive alternative rock/metal album called
						| <a href="https://soundcloud.com/andrestaltz/sets/o-vazio-tem-um-nome" target="_blank"><em>O vazio tem um nome</em></a> 
						| You can find other compositions at <a href="http://soundcloud.com/andrestaltz" target="_blank">Soundcloud</a>.
		.footer
			.container
				.row
					div(class="col-lg-6 col-lg-offset-3")
						p Built with
						p
							a(href="http://www.python.org/", target="_blank") Python 2.7.4
							+dot 
							a(href="http://flask.pocoo.org/", target="_blank") Flask 0.10
							+dot
							a(href="http://gunicorn.org/", target="_blank") gunicorn
							+dot
							a(href="https://github.com/SyrusAkbary/pyjade", target="_blank") pyjade
							br
							a(href="http://getbootstrap.com", target="_blank") Bootstrap 3
							+dot
							a(href="http://fontawesome.io", target="_blank") FontAwesome 3.2.1
						p
							a(href="https://github.com/staltz/staltzpage", target="_blank") Source code
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
		script(src="/static/js/bootstrap.min.js")
		script(src="/static/js/main.js")
